.description {
  font-style: italic;
  color: #555;
  font-size: 1.2em;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

.summary {
  font-style: normal;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.top-link {
  display: none;
}